<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<footer class="edulytx-footer">
<div class="section pp-scrollable">
<div class="screen" id="screen-footer">
  <div class="subscreen pr-md-5 py-5" id="subscreen-footer-1">
    <div class="container pr-md-5 row pb-md-3 pb-5 mb-lg-5 align-items-center">
      <div id="logo" class="col-4 pb-5">
        <svg width="512" height="512" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Regular - Colourful (coloured text) - No Background">
            <g id="g10">
              <g id="g14">
                <g id="g16">
                  <g id="Text">
                    <g id="Other Letters">
                      <g id="e">
                        <path id="path24"
                          d="M75.3889 340.369H101.458C100.888 335.628 96.2445 330.414 89.1346 330.414C80.9812 330.414 75.9568 335.06 75.3889 340.369ZM60.8851 345.108C60.8851 323.684 79.4649 317.997 89.2297 317.997C102.596 317.997 115.962 327.097 116.436 343.875C116.436 347.858 116.152 350.417 116.152 350.417H75.0098C76.7163 358.948 86.3846 359.895 89.2297 359.895C97.0977 359.895 100.984 355.632 102.596 353.829L113.592 360.181C111.506 363.024 104.492 372.315 89.2297 372.315C79.0858 372.315 60.8851 366.531 60.8851 345.108"
                          fill="#096AA0" />
                      </g>
                      <g id="d">
                        <path id="path28"
                          d="M153.689 330.13C144.684 330.13 139.374 336.387 139.374 344.918C139.374 353.165 144.968 359.612 153.689 359.612C162.506 359.612 168.004 354.018 168.004 344.918C168.004 336.293 162.506 330.13 153.689 330.13ZM167.435 365.774C165.254 368.712 158.997 372.125 151.604 372.125C135.109 372.125 125.44 359.896 125.44 344.918C125.44 329.94 135.109 317.712 151.604 317.712C159.188 317.712 164.78 320.746 167.435 324.253V299.321H181.464V370.988H167.435V365.774Z"
                          fill="#096AA0" />
                      </g>
                      <g id="u">
                        <path id="path32"
                          d="M195.399 349.848V319.039H209.713V349.848C209.713 357.81 214.453 360.275 219.856 360.275C223.837 360.275 230.189 357.906 229.81 346.625V319.039H244.029V370.988H229.81V366.531C226.397 370.039 221.372 372.125 215.875 372.125C200.896 372.125 195.399 363.31 195.399 349.848Z"
                          fill="#096AA0" />
                      </g>
                      <path id="l" d="M257.962 299.321H272.182V370.988H257.962V299.321Z" fill="#096AA0" />
                      <g id="y">
                        <path id="path38"
                          d="M291.899 390.515L300.905 369.092L278.533 319.039H294.933L308.11 352.217L320.243 319.039H336.642L307.541 390.515H291.899Z"
                          fill="#096AA0" />
                      </g>
                      <g id="t">
                        <path id="path42"
                          d="M362.71 352.407C362.71 355.252 362.805 360.181 369.155 360.181C370.768 360.181 371.905 360.085 372.758 359.991V371.935C371.052 372.125 368.397 372.314 366.407 372.314C355.411 372.314 348.679 370.324 348.679 359.328V330.414H342.328V317.997H348.679V304.061H362.71V317.997H373.137V330.414H362.71V352.407Z"
                          fill="#096AA0" />
                      </g>
                    </g>
                    <g id="X">
                      <path id="path46"
                        d="M387.544 301.785H406.407L424.324 325.675L442.241 301.785H460.916L433.71 336.671L460.442 370.988H441.672L424.324 347.952L406.977 370.988H388.113L414.94 336.671L387.544 301.785Z"
                        fill="#00B6B4" />
                    </g>
                  </g>
                  <g id="Logo">
                    <g id="Book">
                      <g id="MainBookBackground">
                        <path id="path50"
                          d="M305.574 101.599H206.386C199.618 101.599 194.08 107.136 194.08 113.905V211.097C194.08 214.153 195.212 216.956 197.075 219.114H196.223L197.966 220.045C199.539 221.526 201.497 222.601 203.671 223.095L262.411 254.487V223.403H305.574C312.342 223.403 317.881 217.866 317.881 211.097V113.905C317.881 107.136 312.342 101.599 305.574 101.599Z"
                          fill="#242960" />
                      </g>
                      <g id="Page">
                        <path id="path54"
                          d="M223.289 111.125H299.659C299.659 111.125 312.788 109.785 312.788 125.327C312.788 140.869 312.63 206.047 312.63 206.047C312.63 206.047 311.717 214.827 305.285 217.775C305.285 217.775 305.822 214.56 305.822 210.273V142.744C305.822 142.744 308.234 125.327 287.867 125.327H224.092C224.092 125.327 212.838 126.131 212.838 118.896C212.838 111.66 223.289 111.125 223.289 111.125Z"
                          fill="white" />
                      </g>
                      <g id="PageShadow">
                        <path id="path58"
                          d="M213.882 115.47L296.442 115.412C296.442 115.412 310.109 114.341 310.109 132.295V213.518C310.109 213.518 312.788 210.779 312.788 203.812V121.039C312.788 121.039 313.057 111.125 299.66 111.125H223.288C223.288 111.125 216.536 111.419 213.882 115.47Z"
                          fill="#B0AEB0" />
                      </g>
                    </g>
                    <g id="FingerTap">
                      <g id="TapCircles">
                        <g id="g60">
                          <path id="path62"
                            d="M231.826 153.123C231.898 148.308 233.539 143.776 236.929 139.926C239.828 136.637 243.444 134.532 247.733 133.596C249.782 133.149 251.851 133.035 253.931 133.253C256.944 133.571 259.761 134.502 262.328 136.116C267.207 139.18 270.247 143.559 271.508 149.169C271.995 151.339 272.073 153.541 271.819 155.748C271.469 158.782 270.478 161.601 268.868 164.198C268.495 164.798 267.744 164.98 267.157 164.622C266.565 164.262 266.367 163.525 266.731 162.915C267.358 161.863 267.914 160.781 268.337 159.63C268.94 157.999 269.303 156.316 269.41 154.578C269.651 150.689 268.759 147.078 266.652 143.803C263.954 139.609 260.142 136.97 255.251 135.986C247.537 134.433 239.686 138.35 236.209 145.418C235.187 147.496 234.541 149.679 234.399 151.99C234.02 158.13 236.171 163.215 240.858 167.202C241.546 167.786 242.334 168.254 243.083 168.765C243.443 169.012 243.66 169.331 243.68 169.773C243.703 170.267 243.503 170.653 243.084 170.903C242.666 171.155 242.224 171.155 241.802 170.907C240.466 170.122 239.232 169.198 238.115 168.122C235.203 165.319 233.29 161.943 232.36 158.011C232.004 156.503 231.843 154.971 231.826 153.123Z"
                            fill="#00B6B4" />
                        </g>
                        <g id="g64">
                          <path id="path66"
                            d="M251.794 143.261C247.751 143.436 244.555 145.245 242.557 148.871C240.522 152.563 240.624 156.325 242.689 160.006C243.13 160.794 242.878 161.484 242.4 161.816C241.79 162.24 240.992 162.058 240.596 161.398C239.827 160.117 239.275 158.747 238.955 157.286C237.783 151.925 239.821 146.5 244.25 143.26C246.093 141.913 248.166 141.132 250.439 140.872C256.992 140.119 263.049 144.425 264.699 150.824C265.53 154.04 265.234 157.16 263.841 160.175C263.418 161.091 262.221 161.217 261.667 160.407C261.39 160.001 261.375 159.566 261.578 159.126C262.012 158.191 262.343 157.221 262.492 156.201C263.08 152.173 261.928 148.736 258.922 145.971C257.324 144.504 255.406 143.663 253.256 143.371C252.804 143.31 252.344 143.302 251.794 143.261Z"
                            fill="#00B6B4" />
                        </g>
                      </g>
                      <g id="Hand">
                        <path id="path70"
                          d="M248.306 173.182C248.306 167.124 248.307 161.064 248.304 155.006C248.303 154.052 248.555 153.192 249.207 152.486C249.924 151.712 250.841 151.395 251.881 151.403C253.978 151.419 255.391 152.848 255.395 154.986C255.403 158.728 255.398 162.471 255.398 166.213V176.652C255.398 176.736 255.398 176.822 255.398 176.906C255.389 178.204 256.314 178.46 257.197 178.271C257.758 178.151 258.084 177.692 258.085 177.066C258.09 175.386 258.073 173.706 258.093 172.025C258.108 170.881 258.519 169.903 259.465 169.207C261.12 167.992 263.657 168.453 264.681 170.146C265.065 170.782 265.2 171.481 265.2 172.214C265.2 174.565 265.199 176.916 265.203 179.266C265.203 179.486 265.216 179.71 265.266 179.921C265.374 180.381 265.693 180.646 266.145 180.733C266.358 180.773 266.585 180.771 266.801 180.746C267.46 180.675 267.857 180.247 267.866 179.574C267.879 178.388 267.869 177.2 267.875 176.011C267.879 175.35 267.873 174.687 267.919 174.028C268.029 172.456 269.363 171.152 270.933 171.01C271.888 170.923 272.78 171.071 273.569 171.629C274.571 172.336 274.98 173.361 274.987 174.55C275 176.95 274.991 179.353 274.992 181.755C274.992 181.908 274.984 182.063 275.012 182.212C275.118 182.792 275.459 183.123 276.05 183.192C276.282 183.219 276.527 183.214 276.756 183.174C277.248 183.084 277.615 182.695 277.636 182.186C277.674 181.305 277.671 180.422 277.674 179.541C277.676 179.019 277.731 178.51 277.929 178.022C278.458 176.725 279.448 176.048 280.819 175.906C281.905 175.793 282.893 176.054 283.709 176.808C284.404 177.453 284.754 178.282 284.762 179.211C284.785 182.097 284.798 184.983 284.757 187.867C284.725 190.142 284.482 192.405 284.017 194.631C283.488 197.154 282.873 199.66 282.312 202.177C281.736 204.761 281.131 207.339 280.63 209.936C280.323 211.53 280.182 213.156 279.983 214.769C279.924 215.247 279.913 215.734 279.882 216.214C279.842 216.816 279.371 217.255 278.749 217.255C276.535 217.258 274.319 217.257 272.105 217.257H254.181C253.432 217.257 253.034 216.887 252.937 216.137C252.71 214.357 252.041 212.745 251.047 211.258C250.281 210.112 249.399 209.06 248.465 208.052C247.164 206.648 246.049 205.099 244.918 203.566C243.337 201.42 242.011 199.111 240.681 196.808C238.534 193.088 236.534 189.29 234.839 185.342C234.375 184.264 233.98 183.152 233.644 182.03C233.472 181.458 233.478 180.825 233.44 180.219C233.377 179.198 234.126 178.457 235.207 178.345C236.274 178.234 237.2 178.515 238.065 179.143C239.551 180.221 240.788 181.539 241.906 182.978C243.379 184.875 244.586 186.928 245.471 189.165C245.556 189.379 245.599 189.62 245.607 189.852C245.625 190.462 245.609 191.074 245.615 191.685C245.619 192.2 245.769 192.657 246.276 192.877C246.811 193.107 247.353 193.095 247.847 192.748C248.181 192.515 248.271 192.151 248.302 191.769C248.31 191.659 248.306 191.548 248.306 191.438V173.182Z"
                          fill="white" />
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <p class="dark-colored-text font-weight-medium text-justify col-8">
        <a href="https://edulytx.com" target="_blank">edulytX</a> is an online learning platform catering to needs of learners. We partner with the best
        educational institutions to provide for effective and rich learning experience. edulytX Live is part of the edulytX offering and is the complete conferencing solution for your needs. Create your own rooms, 
        share presentations and record sessions. Ideal for any purpose, be it for business or for education.
      </p>
    </div>
    <p class="copyright">
      <%= t("footer.copyright_notice", href: link_to(t("edulytx"), "https://edulytx.com/", target: "_blank", rel: "noopener")).html_safe %>
    </p>
  </div>

  <div class="subscreen" id="subscreen-footer-2">
    <div class="container pb-5 pb-md-0">
      <div class="container pt-5 mt-5 pt-md-0 mt-md-0">
        <div class="row footer-nav">
          <div class="footer-sub-nav col-12 col-lg-4 col-md-6">
            <h6 class="white-text font-weight-semi-bold p5">edulytX</h6>
            <ul class="pb-5 pb-md-0">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="https://edulytx.com/update/Coming%20Soon/The%20page%20shall%20be%20updated%20shortly." target="_blank">For Governments</a></li>
              <li><a href="https://edulytx.com/update/Coming%20Soon/The%20page%20shall%20be%20updated%20shortly." target="_blank">For Enterprises</a></li>
              <li><a href="https://edulytx.com/update/Coming%20Soon/The%20page%20shall%20be%20updated%20shortly." target="_blank">For Education</a></li>
            </ul>
          </div>
          <div class="footer-sub-nav col-12 col-lg-4 col-md-6">
            <h6 class="white-text font-weight-semi-bold p5">Community</h6>
            <ul class="pb-5 pb-md-0">
              <li><a href="https://edulytx.com" target="_blank">Learners</a></li>
              <li><a href="https://edulytx.com" target="_blank">Educators</a></li>
              <li><a href="https://edulytx.com/update/Coming%20Soon/The%20page%20shall%20be%20updated%20shortly." target="_blank">Partners</a></li>
              <li><a href="https://edulytx.com/update/Coming%20Soon/The%20page%20shall%20be%20updated%20shortly." target="_blank">Blogs</a></li>
              <li><a href="https://edulytx.com/update/Coming%20Soon/The%20page%20shall%20be%20updated%20shortly." target="_blank">PaaS</a></li>
            </ul>
          </div>
          <div class="footer-sub-nav col-12 col-lg-4 col-md-6">
            <h6 class="white-text font-weight-semi-bold p5">More</h6>
            <ul class="pb-5 pb-md-0">
              <li><a href="https://edulytx.com/update/Coming%20Soon/The%20page%20shall%20be%20updated%20shortly." target="_blank">Help</a></li>
              <li><a href="https://edulytx.com/update/Coming%20Soon/The%20page%20shall%20be%20updated%20shortly." target="_blank">Affiliates</a></li>
              <% if privpolicy_url.present? %>
                <li><%= link_to(t("footer.privpolicy"), privpolicy_url)  %></li>
              <% end %>          
              <li><a href="https://edulytx.com/support/contact_us/" target="_blank">Contact</a></li>
              <% if legal_url.present? %>
                <li><%= link_to(t("footer.legal"), legal_url)  %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-footer">
        <ul class="footer-nav-icons">
          <a href="https://github.com/edulytx" target="_blank"><li id="github"></li></a>
          <a href="https://www.facebook.com/edulytX" target="_blank"><li id="facebook"></li></a>
          <a href="https://www.facebook.com/edulytX" target="_blank"><li id="twitter"></li></a>
          <a href="https://www.linkedin.com/company/edulytx/" target="_blank"><li id="linkedin"></li></a>
        </ul>
        <div class="openedx">
          <a href="https://aws.amazon.com/what-is-cloud-computing"><img src="https://d0.awsstatic.com/logos/powered-by-aws-white.png" alt="Powered by AWS Cloud Computing"></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</footer>
<%= render "shared/components/cookie_warning" %>
